<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css.css">
    <script src="js/js.js"></script>




</head>
<body>
    
        
        <div class="form-group">
        <div ng-app="myApp" ng-controller="myController" ng-controller="validateCtrl" name="myForm" novalidate>
        <p>
            <h4><p class="text-info">nom & prenom</p></h4>
            <p><input type="text" name="user" ng-model="user" class="form-control">
                <span style="color:red" ng-show="myForm.user.$invalid">
                <span ng-show="!(myForm.user.$dirty && myForm.user.$invalid ||  myForm.user.$dirty && myForm.user.$invalid)">
                    Username is required.</span>
             </span>
            </p>
        </p>
        <p>
            <h4><p class="text-info">email</p></h4>
            <p>
                    <input type="email" name="email" ng-model="email" class="form-control">


               <span ng-show=" myForm.email.$invalid ">
                   email required
               </span>
            </p>
            </p>
        <p>
            <p> </p><button ng-click="addRow()" class="btn btn-success"ng-disabled="myForm.user.$dirty && myForm.user.$invalid ||  
 myForm.email.$dirty && myForm.email.$invalid" > ajouter Row </button></p>

            </p>

        <!--creation des tables-->
        <table class="table"> 
            <tr>
                <th>Code</th>
                    <th>nom & prenom</th>
                        <th>email</th>
            </tr>

            <tr ng-repeat="info in infArray" class="success">
                <td><label>{{$index + 1}}</label></td>
                <td><label>{{info.user}}</label></td>
                <td><label>{{info.email}}</label></td>
                <td><input type="checkbox" ng-model="info.Remove"/></td>
            </tr>
        </table>

        <div>
                
               
                <button ng-click="removeRow()"  class="btn btn-danger" >Supp Row</button>
        </div>

        <div id="display" style="padding:10px 0;">{{display}}</div>
    </div>
</body>

<!--mycontroller -->

</html>